<div class="card" style="width: 18rem">
  <div
    class="card-image"
    [ngStyle]="{ 'background-image': 'url(' + recipe.image + ')' }"
  ></div>
  <div class="card-body">
    <h5 class="card-title" (click)="inviaTitolo(recipe.title)">
      {{ recipe.title }}
    </h5>
    <!-- <p class="card-text">{{ recipe.description | slice : 0 : 250 }}...</p> -->
    <!-- <p class="card-text" [innerHTML]="recipe.description | slice : 0 : 250">
      ...
    </p> -->
    <p class="card-text" [innerHTML]="getSanitizedHtml(recipe.description)"></p>
    <a
      *ngIf="page !== 'home'"
      routerLink="dettaglio/{{ recipe.title }}/{{ recipe._id }}"
      class="btn btn-primary"
    >
      Visualizza
    </a>
    <a
      *ngIf="page === 'home'"
      routerLink="/ricette/dettaglio/{{ recipe.title }}/{{ recipe._id }}"
      class="btn btn-primary"
    >
      Visualizza
    </a>
    <button
      *ngIf="page !== 'home' && user !== null"
      class="btn btn-danger"
      aria-label="Togli dai preferiti"
      (click)="modificaPreferito()"
    >
      <i [ngClass]="isPreferite ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
    </button>
    <a
      *ngIf="page !== 'home' && user?.role === 'admin'"
      routerLink="modifica/{{ recipe.title }}/{{ recipe._id }}"
      class="btn btn-primary"
      aria-label="Modifica"
      ><i class="pi pi-pencil"></i>
    </a>
    <a
      *ngIf="page === 'home' && user?.role === 'admin'"
      routerLink="/ricette/modifica/{{ recipe.title }}/{{ recipe._id }}"
      class="btn btn-primary"
      aria-label="Modifica"
      ><i class="pi pi-pencil"></i>
    </a>
    <button
      *ngIf="user?.role === 'admin'"
      class="btn btn-danger"
      aria-label="Elimina"
      (click)="cancella(modale)"
    >
      <i class="pi pi-trash"></i>
    </button>
  </div>
</div>

<ng-template #modaleElimina let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Attenzione</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close(false)"
    ></button>
  </div>
  <div class="modal-body">Sei sicuro di voler eliminare la ricetta?</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close(false)"
    >
      Chiudi
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">
      Conferma
    </button>
  </div>
</ng-template>
